<section class="">
  <h1 class="font-sans pt-4 text-center from-neutral-950 text-5xl">ContactUs</h1>
  <div class="flex justify-center items-center mt-6">
    <iframe class="w-[70vw] md:w-[50vw]   h-[300px] md:h-[450px]"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4196.0803317998325!2d72.64987146335741!3d23.213745540630523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2bc17c67ed89%3A0x4bce8ab144960ecc!2sCroma%20-%20Gandhinagar!5e1!3m2!1sen!2sin!4v1728131684002!5m2!1sen!2sin"
      width="600" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>