<div class="bg-gradient-to-b bg-slate-100" id="Products">
  <!-- <div class="bg-gradient-to-b from-[#abe2f8]" id="Products"> -->
  <h1 class="font-sans pt-4 text-center from-neutral-950 text-5xl">Products</h1>

  <div class="flex flex-col gap-5  lg:flex-row justify-center mt-6 lg:gap-4">

    <!-- component -->
    <!-- <div class="flex justify-center items-center min-h-screen"> -->
    <div class="flex justify-center items-center lg:h-[70vh]">
      <div class="lg:max-w-[720px] mx-auto">


        <!-- Centering wrapper -->
        <div
          class="relative flex flex-col text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl w-[80vw] md:w-[270px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/products1_jhula.webp" alt="card-image"
              class="object-cover w-[80vw] md:w-[270px] 2xl:w-[300px] h-[200px]" />
          </div>
          <div class="p-6">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Jhulas
              </p>
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹22,000
              </p>
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Add a traditional touch with our stylish Jhulas, perfect for both indoor and outdoor relaxation.
            </p>
          </div>
          <!-- <div class="p-3 pt-0">
            <button
              class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
              type="button">
              Add to Cart
            </button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- component -->
    <!-- <div class="flex justify-center items-center min-h-screen"> -->
    <div class="flex justify-center items-center lg:h-[70vh]">
      <div class="max-w-[720px] mx-auto">


        <!-- Centering wrapper -->
        <div
          class="relative flex flex-col text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl w-[80vw] md:w-[270px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/products1_bed.jpg" alt="card-image"
              class="object-cover w-[80vw] md:w-[270px] 2xl:w-[300px] h-[200px]" />
          </div>
          <div class="p-6">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Beds
              </p>
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹14,500
              </p>
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Discover comfortable and stylish Beds crafted for restful nights and modern bedroom decor.
            </p>
          </div>
          <!-- <div class="p-3 pt-0">
            <button
              class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
              type="button">
              Add to Cart
            </button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- component -->
    <!-- <div class="flex justify-center items-center min-h-screen"> -->
    <div class="flex justify-center items-center lg:h-[70vh]">
      <div class="max-w-[720px] mx-auto">


        <!-- Centering wrapper -->
        <div
          class="relative flex flex-col text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl w-[80vw] md:w-[270px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/products1_Sofa.jpg" alt="card-image"
              class="object-cover w-[80vw] md:w-[270px] 2xl:w-[300px] h-[200px]" />
          </div>
          <div class="p-6">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Sofas
              </p>
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹12,000
              </p>
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Enhance your living space with elegant Sofas, offering both comfort and style for any room.
            </p>
          </div>
          <!-- <div class="p-3 pt-0">
            <button
              class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
              type="button">
              Add to Cart
            </button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- component -->
    <!-- <div class="flex justify-center items-center min-h-screen"> -->
    <div class="flex justify-center items-center lg:h-[70vh]">
      <div class="max-w-[720px] mx-auto">


        <!-- Centering wrapper -->
        <div
          class="relative flex flex-col text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl w-[80vw] md:w-[270px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/products1_otherFurniture.jpg" alt="card-image"
              class="object-cover w-[80vw] md:w-[270px] 2xl:w-[300px] h-[200px]" />
          </div>
          <div class="p-6">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Other
              </p>
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹9000
              </p>
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Elevate your home with functional Dining Tables, spacious Wardrobes, and furnitures for organized
              living.
            </p>
          </div>
          <!-- <div class="p-3 pt-0">
            <button
              class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
              type="button">
              Add to Cart
            </button>
          </div> -->
        </div>
      </div>
    </div>

  </div>
</div>