<div class="navbar">
    <div class="logo">
        <a href="#">Web Dev Creative</a>
    </div>
    <ul class="links" #ulElement>
        <li><a href="#home" class="act">Home</a></li>
        <li><a href="#Products">Products</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">ContactUs</a></li>
        <li><a href="#about">AboutUs</a></li>
        <li><a href="#wht.me" class="btn">Get Started</a></li>
    </ul>
    <fa-icon [icon]="menuIcon" class="icon" (click)="toggleFunc()"></fa-icon>
</div>