* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(9, 3, 50);
    color: white;
    height: 10vh;
}

.navbar ul {
    display: flex;
    align-items: center;
    transition: height 1s ease, opacity 1s ease;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    margin-inline: 30px;
    color: white;
    font-size: 18px;
    margin-right: 11px;
}

.logo {
    margin: auto;
    margin-left: 12px;
    font-size: 18px;
    white-space: nowrap;
}

ul li a:hover,
ul li .act {
    color: #f7ffea;
    border-bottom: 2px solid #c7efff;
}


.menuIcon {
    align-items: center;
    font-size: 30px;
    margin-right: 12px;
    display: none;
}

#locsvg {
    margin-left: 4px;
    /* display: block; */
    margin-bottom: 5px;
    /* margin-bottom: auto;
    padding-top: auto; */
}

#loctext {
    font-size: 18px;
}

.locIcon {
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.locMenuli {
    background-color: white;
    height: 33px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-right: 6px;
}

#locMenu {
    background-color: #f36944;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    height: 30px;
    color: black;
    margin-right: 3px;
}

#locMenu:hover {
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    /* border-bottom-right-radius: 4px; */
}

a .button {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
}

.button-decor {
    position: absolute;
    inset: 0;
    background-color: rgb(245, 85, 85);
    transform: translateX(-100%);
    transition: transform .5s;
    z-index: 0;
}

.button-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.button__icon {
    width: 48px;
    height: 40px;
    background-color: rgb(255, 81, 50);
    display: grid;
    place-items: center;
    border-right: 2px solid black;
}

.button__text {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.button:hover .button__text {
    color: #fff;
}

.button:hover .button-decor {
    transform: translate(0);
}

@media(max-width: 820px) {

    .navbar ul {
        display: flex;
        flex-direction: column;
        opacity: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        transition: height 1s ease, opacity 5s ease-out 2s ease-in, visibility 1s ease;
    }

    .navbar ul.showDropDown {
        opacity: 1;
        height: 300px;
        width: 100%;
        visibility: visible;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        background-color: rgb(9, 3, 50);
        width: 100%;
        text-align: center;
        padding: 0px;
        gap: 22px;
        height: 300px;
        margin: 0px;
    }

    .menuIcon {
        opacity: 100;
        transform: scale(1);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .menuIcon {
        display: flex;
    }

    .locMenu {
        margin-top: 0px
    }

    .locli {
        height: 30px;
        margin: 0px;
        margin-top: -25px;
    }
}