<footer class="bg-[#090332] pt-12 pb-6 px-10 font-[sans-serif] tracking-wide mt-3">
  <div class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
      <div class="lg:flex lg:items-center">
        <a href="javascript:void(0)">
          <!-- <img src="https://readymadeui.com/readymadeui-light.svg" alt="logo" class="w-48" /> -->
           <h1 class="text-white text-2xl font-bold">LeepWood Furniture</h1>
           <p class="text-gray-300 text-sm mt-3 text-center">a Brand by Parent Company</p>
        </a>
      </div>

      <div>
        <h4 class="text-lg mb-6 text-white">Information</h4>
        <ul class="space-y-4 pl-2">
          <li>
            <a href="mailto:yashvantsinhchavda2461@gmail.com" class="text-gray-300 hover:text-white text-sm">For any queries contact us at yashvantsinhchavda2461&#64;gmail.com</a>
          </li>
          <li>
            <a href="#products" class="text-gray-300 hover:text-white text-sm">Products</a>
          </li>
          <li>
            <a href="#services" class="text-gray-300 hover:text-white text-sm">Services</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="text-gray-300 hover:text-white text-sm">Terms &amp; Conditions</a>
          </li>
        </ul>
      </div>
    </div>
    <p class='text-gray-300 text-sm mt-7 text-center'>© LeepWood Furniture. All rights reserved.
    </p>
  </div>
</footer>
