<div class="home-content ml-auto mr-auto mt-0 mb-0 text-black">
    <div class="mx-auto my-0 lg:pt-6 lg:pb-4">
        <h1 class="heading-text text-center w-[80vw] md:w-[720px] text-3xl mx-auto  font-bold pt-10">A New Way To Design
            Your
            Home</h1>
        <p class="heading-text text-center text-wrap mx-auto w-[80vw] md:w-[700px]">Our crafted
            furniture pieces, from sofa beds to elegant dining tables, are designed to transform your living space
            into a haven of comfort and sophistication. </p>
    </div>
    <img class="mx-auto w-[80vw] mt-5 sm:mt-0  sm:w-[60vw] sm:h-[30vh]  md:h-[40vh] md:w-[70vw]  lg:w-[45vw]   "
        src="assets/Sofa1-removebg-croped.png">
</div>