<div class="" id="products">
  <h1 class="font-sans pt-4 text-center from-neutral-950 text-5xl">Products</h1>


  <!-- Main container with horizontal scroll -->
  <div class="relative w-full">


    <!-- Category1  Row 1   -->
    <!-- Scrollable container -->
    <div class="flex-col">
      <h1 class="font-sans pl-[8vw] pt-4 text-left from-neutral-950 text-3xl">Jhulas</h1>

      <div class="flex overflow-x-auto gap-4 snap-x snap-mandatory hide-scrollbar lg:justify-center pl-2 pt-2 pb-6 mb-3">
        <!-- Individual cards - now all in a single row -->
        
        <!-- Card 1 -->
         
          <div
            class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
              <img src="assets/jhula1.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
            </div>
            <div class="p-6 h-[145px] md:h-[166px]">
              <div class="flex items-center justify-between mb-2">
                <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                  Elegant Metal Frame Swing
                </p>
                <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹22,000
              </p> -->
              </div>
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                Add a stylish touch with this sturdy, comfortable swing, perfect for indoor and outdoor relaxation.
              </p>
            </div>
            <button class="card__btn mx-auto">View Details</button>
          </div>

          <div
            class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
              <img src="assets/jhula2.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
            </div>
            <div class="p-6 h-[145px] md:h-[166px]">
              <div class="flex items-center justify-between mb-2">
                <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                  Classic 2-Seater Swing
                </p>
                <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹12,000
              </p> -->
              </div>
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                Relax in style with this durable, spacious swing, perfect for both indoor and outdoor use.
              </p>
            </div>
            <button class="card__btn mx-auto">View Details</button>
          </div>

          <div
            class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
              <img src="assets/jhula3.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
            </div>
            <div class="p-6 h-[145px] md:h-[166px]">
              <div class="flex items-center justify-between mb-2">
                <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                  Wooden Slat Swing
                </p>
                <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹14,500
              </p> -->
              </div>
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                Enjoy a cozy retreat with this sturdy 2-seater swing, ideal for indoor and outdoor spaces.
              </p>
            </div>
            <button class="card__btn mx-auto">View Details</button>
          </div>

          <div
            class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
              <img src="assets/jhula5.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
            </div>
            <div class="p-6 h-[145px] md:h-[166px]">
              <div class="flex items-center justify-between mb-2">
                <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                  Elegant 2-Seater Swing Jhula
                </p>
                <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹9,000
              </p> -->
              </div>
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                Add charm to your space with this stylish, sturdy swing, perfect for relaxing indoors or outdoors.
              </p>
            </div>
            <button class="card__btn mx-auto">View Details</button>
          </div>

        
          <!-- Row 2 in one -->
          <div
            class="card visible lg:hidden flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
              <img src="assets/jhula6.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
            </div>
            <div class="p-6 h-[145px] md:h-[166px]">
              <div class="flex items-center justify-between mb-2">
                <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                  2-Seater Garden Swing Jhula
                </p>
                <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹12,000
              </p> -->
              </div>
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                Classic wooden slat swing with floral canopy combines comfort for peaceful outdoor relaxation.
              </p>
            </div>
            <button class="card__btn mx-auto">View Details</button>
          </div>

          <div
            class="card visible lg:hidden flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
              <img src="assets/jhula7.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
            </div>
            <div class="p-6 h-[145px] md:h-[166px]">
              <div class="flex items-center justify-between mb-2">
                <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                  Modern Blue Garden Swing Jhula
                </p>
                <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹22,000
              </p> -->
              </div>
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                Sleek outdoor swing featuring vibrant blue slats and floral canopy for refreshing relaxation.
              </p>
            </div>
            <button class="card__btn mx-auto">View Details</button>
          </div>

          <div
            class="card visible lg:hidden flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
              <img src="assets/jhula4.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
            </div>
            <div class="p-6 h-[145px] md:h-[166px]">
              <div class="flex items-center justify-between mb-2">
                <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                  Minimalist 2-Seater Garden Swing
                </p>
                <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹14,500
              </p> -->
              </div>
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                Sleek garden swing with mint green slats combines design with durable metal framing.
              </p>
            </div>
            <button class="card__btn mx-auto">View Details</button>
          </div>

          <div
            class="card visible lg:hidden flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
              <img src="assets/products1_jhula.webp" alt="card-image" class="object-cover w-full h-[200px]" />
            </div>
            <div class="p-6 h-[145px] md:h-[166px]">
              <div class="flex items-center justify-between mb-2">
                <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                  Traditional Jhulas
                </p>
                <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹9,000
              </p> -->
              </div>
              <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                Add a traditional touch with our stylish Jhulas, perfect for both indoor and outdoor relaxation.
              </p>
            </div>
            <button class="card__btn mx-auto">View Details</button>
          </div>

      </div>

    </div>


    <!-- Category1  Row 2   -->
    <!-- Scrollable container -->
    <div id="category1row2" class="flex-col">
      <!-- <h1 class="font-sans pl-[8vw] pt-4 text-left from-neutral-950 text-3xl -mb-6">Beds</h1> -->
      <div
        class="flex overflow-x-auto gap-4 snap-x snap-mandatory hide-scrollbar lg:justify-center pl-2 pt-2 pb-6 mb-3">
        <!-- Individual cards - now all in a single row -->

        <!-- Card 1 -->
        <div
          class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/jhula6.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
          </div>
          <div class="p-6 h-[145px] md:h-[166px]">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                2-Seater Garden Swing Jhula
              </p>
              <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹12,000
              </p> -->
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Classic wooden slat swing with floral canopy combines comfort for peaceful outdoor relaxation.
            </p>
          </div>
          <button class="card__btn mx-auto">View Details</button>
        </div>

        <div
          class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/jhula7.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
          </div>
          <div class="p-6 h-[145px] md:h-[166px]">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Modern Blue Garden Swing Jhula
              </p>
              <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹22,000
              </p> -->
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Sleek outdoor swing featuring vibrant blue slats and floral canopy for refreshing relaxation.
            </p>
          </div>
          <button class="card__btn mx-auto">View Details</button>
        </div>

        <div
          class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/jhula4.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
          </div>
          <div class="p-6 h-[145px] md:h-[166px]">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Minimalist 2-Seater Garden Swing
              </p>
              <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹14,500
              </p> -->
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Sleek garden swing with mint green slats combines design with durable metal framing.
            </p>
          </div>
          <button class="card__btn mx-auto">View Details</button>
        </div>

        <div
          class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/products1_jhula.webp" alt="card-image" class="object-cover w-full h-[200px]" />
          </div>
          <div class="p-6 h-[145px] md:h-[166px]">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                traditional Jhulas
              </p>
              <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹9,000
              </p> -->
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Add a traditional touch with our stylish Jhulas, perfect for both indoor and outdoor relaxation.
            </p>
          </div>
          <button class="card__btn mx-auto">View Details</button>
        </div>
      </div>
    </div>


    <!-- Category2 CofeeTables  Row 1   -->
    <!-- Scrollable container -->
    <div class="flex-col">
      <h1 class="font-sans pl-[8vw] pt-4 text-left from-neutral-950 text-3xl -mb-6">Cofee Tables</h1>
      <div
        class="flex overflow-x-auto gap-4 snap-x snap-mandatory hide-scrollbar lg:justify-center pl-2 pt-8 pb-6 mb-3">
        <!-- Individual cards - now all in a single row -->

        <!-- Card 1 -->
        <div
          class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/CofeeTable1.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
          </div>
          <div class="p-6 h-[145px] md:h-[166px]">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Marble Duo Nesting Coffee Tables
              </p>
              <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹22,000
              </p> -->
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Elegant marble-topped nesting tables with black metal frames bring style to any room.
            </p>
          </div>
          <button class="card__btn mx-auto">View Details</button>
        </div>

        <div
          class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/CofeeTable4.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
          </div>
          <div class="p-6 h-[145px] md:h-[166px]">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Luxe Gold Marble Side Tables
              </p>
              <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹9,000
              </p> -->
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Elegant marble-topped tables with gold-finished frames bring luxury to contemporary spaces.
            </p>
          </div>
          <button class="card__btn mx-auto">View Details</button>
        </div>

        <div
          class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/CofeeTable2.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
          </div>
          <div class="p-6 h-[145px] md:h-[166px]">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Modern Nesting Coffee Tables
              </p>
              <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹12,000
              </p> -->
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Elevate your space with these marble-top tables, perfect for stylish and functional living.
            </p>
          </div>
          <button class="card__btn mx-auto">View Details</button>
        </div>

        <div
          class="card flex-shrink-0 snap-center relative pb-4 flex flex-col text-gray-700 bg-white shadow-sm bg-clip-border rounded-xl w-[80vw] md:w-[40vw] lg:w-[250px] 2xl:w-[300px]">
          <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-[auto]">
            <img src="assets/CofeeTable3.jpeg" alt="card-image" class="object-cover w-full h-[200px]" />
          </div>
          <div class="p-6 h-[145px] md:h-[166px]">
            <div class="flex items-center justify-between mb-2">
              <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                Contemporary Marble Effect Side Tables
              </p>
              <!-- <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                <small>Starting From</small> ₹14,500
              </p> -->
            </div>
            <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
              Modern side tables featuring pristine white marble-effect tops with black metal framing.
            </p>
          </div>
          <button class="card__btn mx-auto">View Details</button>
        </div>

      </div>
    </div>


  </div>