<app-navigation-bar></app-navigation-bar>
<!-- 
<ul class="links">
    <li><a href="home">Home</a></li>
    <li><a><i class="fa-solid fa-bars"></i></a></li>
    <li><a href="Products">Products</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="contact">ContactUs</a></li>
    <li><a href="about">AboutUs</a></li>
</ul> -->

<!-- <router-outlet></router-outlet> -->
<app-home></app-home>
<div class="bg-black w-[100vw] h-12 block"></div>
<h1>Hello </h1>
<i class="fa-solid fa-bars"></i>
<i class="fa-solid fa-bars"></i>
<i class="fa-solid fa-bars"></i>