<div class="bg-gradient-to-b from-[#c7efff] to-[#e6f2f8] " id="services">
  <h1 class="font-sans pt-4 text-center text-neutral-950 text-5xl">Services</h1>
  <div
    class="container flex flex-col md:flex-row overflow-x-scroll gap-3 2xl:gap-8 w-[80vw] md:overflow-x-visible px-0">

    <div class="card overflow-hidden md:overflow-x-visible my-4">
      <div class="card__image">
        <img src="assets/Service_photo1.jpg" alt="card-image"
          class="object-cover w-[90%]  h-[200px] mx-[auto] mt-4 lg:mt-6" />
      </div>
      <div class="card__content text-black">
        <div class="card__title">Custom</div>
        <p class="card__describe">
          Handcrafted, made-to-order furniture tailored to your unique design and functional needs.
        </p>
      </div>
    </div>

    <div class="card my-4">
      <div class="card__image">
        <img src="assets/Service_photo2.jpg" alt="card-image"
          class="object-cover  w-[90%] h-[200px]  mx-[auto] mt-4 lg:mt-6" />
      </div>
      <div class="card__content">
        <span class="card__title">At-Home</span>
        <p class="card__describe">
          Skilled furniture crafting and assembly at your home for ease and perfect results.
        </p>
      </div>
    </div>

    <div class="card my-4">
      <div class="card__image">
        <img src="assets/service_photo3.png" alt="card-image"
          class="object-cover w-[90%]  h-[200px]  mx-[auto] mt-4 lg:mt-6" />
      </div>
      <div class="card__content">
        <span class="card__title">Repair</span>
        <p class="card__describe">
          Restore and repair your cherished furniture pieces to their original beauty and functionality.
        </p>
      </div>
    </div>
  </div>
</div>