<div class="bg-gradient-to-b bg-[#c7efff] h-[70vh]" id="services">
  <h1 class="font-sans pt-4 text-center from-neutral-950 text-5xl">Services</h1>
  <div class="container scroll-1">
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <span class="card__title">Hello</span>
        <p class="card__describe">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <span class="card__title">Hello</span>
        <p class="card__describe">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__image"></div>
      <div class="card__content">
        <span class="card__title">Hello</span>
        <p class="card__describe">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</div>